<%- include('../../includes/header'); %>
<div class="jumbotron">
    <h2>添加新过滤器</h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading">新规则设置</div>
    <div class="panel-body">
        <h4 class="text-center">规则设置：</h4>
        <form id="form" action="<%- process.env.BASE_PATH; %>/admin/filters/doAdd" method="POST"
              class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">过滤器名称：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="filterName" value="myFilter" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">过滤器内容：</label>
                <div class="col-md-12">
                    <div id="container" style="height:400px;border:1px solid grey"></div>
                    <input id="filterContent" type="hidden" name="filterContent">
                </div>
            </div>

            <div class="form-group" style="text-align:center">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<%- include('./editorAdd'); %>
<%- include('../../includes/footer'); %>