<%- include('../../includes/header'); %>
<div class="jumbotron">
    <h2>添加 app</h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading">添加app</div>
    <div class="panel-body">
        <form action="/admin/sites/doEdit" method="POST" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">app 名字：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="name" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">下载页面：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="url" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">描述：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="description" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">图标网址：</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" name="icon" value="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">下载数量：</label>
                <div class="col-md-4">
                    <input type="number" class="form-control" name="downloadCount" min="10">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">显示菜单：</label>
                <div class="col-md-4">
                    <% for(let i = 0;i < menus.length;i++){ %>
                        <label class="checkbox-inline"><input type="checkbox" name="menus"
                                                              value="<%- menus[i]; %>"><span><%- menus[i]; %></span></label>
                    <% } %>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">下载列表显示：</label>
                <div class="col-md-4">
                    <label class="checkbox-inline"><input type="checkbox" name="isDownload" value="true">
                        <sapn class="label label-success">是</sapn>
                    </label>
                </div>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<%- include('../../includes/footer'); %>
